header{
    background: white url("../images/logo.png");
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.logo{
    margin-left: 20px;
}